body {
    background-color: #1a1a2e;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 100px;
}
button {
    background: #e94560;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    crusor: pointer;
}